<% provide(:title, "ユーザー一覧") %>
<% provide(:btn_text, "更新") %>
<h1>ユーザー一覧</h1>

<!--あいまい検索の設定-->
<!--<div class="row">-->
<!--  <div class="col-md-offset-8">-->
<!--    <form action="/users" accept-charset="UTF-8" method="get">-->
<!--      <input name="utf8" type="hidden" value="&#x2713;" />-->
<!--      <label class="label-search" for="name">ユーザ名検索</label>-->
<!--      <div class="input-group">-->
<!--        <input type="text" name="search" id="search" value="" placeholder="キーワードを入力..." class="form-control" />-->
<!--        <span class="input-group-btn">-->
<!--          <input type="submit" value="検索" class="btn btn-primary" data-disable-with="検索" />-->
<!--        </span>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<!--submitのボタンを配置、CSVインポートを配置-->
<%= form_with(url: import_users_path) do |f| %>
    <%= f.file_field :file, accept: '.csv' %>
    <%= f.submit "csvをインポート", class: "btn btn-primary csv-button" %>
<% end %>

<!--ページネーションの設定-->
<!--<div class="col-md-10 col-md-offset-1">-->
<!-- <%= will_paginate %><br>-->

<!--ユーザー一覧-->
<div class="col-md-11 col-md-offset-1">
<% @users.each do |user| %>
  <% unless user.admin? %>
      <table>
        <div class="row">
          <tr>
            <%= user.name %><br>
            <td class="center">
              <%= "|" %>
                <%= link_to "削除", user, method: :delete,
                    data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
            </td>
          </tr>
        </div>
      </table>
      <p>
        <div class="panel panel-default">
          <div class="panel-heding">
            <button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#collapse<%= user.id %>">編集</button>
          </div> 
            <div id="collapse<%= user.id %>" class="panel-collapse collapse out">
            <div class="panel-body">
            <%= render 'users/form_index', locals: {user: @user = User.find_by(id: user.id) } %>
          </div>
        </div>
            
        </div>
      </p>
    <% end %>
 <% end %>
<!--<%= will_paginate %>-->
</div>

<!--モーダルウインドウ表示-->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->