<% provide(:btn_text, '変更を返信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <%= form_with(model: @user, url: update_manager_approval_notice_user_attendance_path(@user), local: true, method: :patch) do |f| %>
            <% @attendances.each do |id, attendances| %>
              <% user = User.find(id) %>
              <h1 class="modal-title"><%= "【#{user.id}からの1ヶ月の勤怠変更申請】" %></h1>
               <table class="table table-bordered table-condensed table-hover" id="table-attendances">
                <thead>
                  <tr>
                    <th>月</th>
                    <th>指示者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody>
                  <% attendances.each do |day| %>
                    <%= f.fields_for "attendances[]", day do |attendance| %>
                      <tr>
                        <!--月-->
                        <td><%= day.worked_on.month %>月</td>
                        <!--指示者確認㊞-->
                        <td><%= attendance.select :manager_approval_status, ['', 'なし', '申請中', '承認', '否認'] %></td>
                        <!--変更-->
                        <td><%= attendance.check_box :manager_approval_check %></td>
                        <!--勤怠を確認する-->
                        <td><%= link_to "確認", show_confirmation_user_path(id, date: day.worked_on.beginning_of_month), target: :_blank, rel: "noopener noreferrer", class: "btn btn-sm btn-primary" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
              <div class="center">
                <%= f.submit yield(:btn_text), class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>